<div class="jumbotron">
  <h1> Connecting Generations </h1>
  <h2> Keeping Them Enagaged.</h2>
</div>



<div class = "center">
  <div class="row">
    <% @listings.each do |listing| %>
     <div class="col-md-3">
          <div class="thumbnail">
          
          <%= link_to image_tag(listing.image.url), listing %>
          <%= raw(@embed_code) %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p> <%= number_to_currency(listing.price) %></p>
             <p> <%= "Sold by #{listing.user.name}" %></p>
            <% if (user_signed_in?) && (current_user == listing.user) %>
            <% end %>
          </div>
       </div>
    </div>
     <% end %>
   </div>
 </div>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path %>
<% end %>

 
@embed_code = %Q{<iframe width="380" height="270" src= "<%= %Q{https://www.youtube.com/embed/QdtL2nPuc6k} %>" ? frameborder = "0" allowfullscreen></iframe>}.html_safe

@embed_code = %Q{<iframe width="380" height="270" src= "<%= %Q{https://slate.adobe.com/a/DKPPX} %>" ? frameborder = "0" allowfullscreen></iframe>}.html_safe

@embed_code = <iframe src="//voice.adobe.com/a/4Dnjm/embed/" width="380" height="270" frameborder="0" allowfullscreen></iframe>


